html {
  height: 100%;
}
body {
  height: 100%;
}

#root {
  max-width: 1280px;
  padding: 2rem;
  height: 100%;
}

.filecanvas {
  z-index: 1;
  width: 100%;
  display: block;
}

.crawercanvas {
  position: absolute;
  z-index: 2;
}
